@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* Variable Couleur & reglage Layout */


:root {
    --color-text: #000000;
    --color-container: #F2F2F2;
    --color-card: #FFFFFF;
    --color-icon: #0065FC;
}

* {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    width: 100%;
    margin: auto;
}


@media screen and (max-width: 768px) {

    /*--------- Hebergement Marseille - Populaire -------*/

    header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }


    #restaurant {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: var(--color-container);
        justify-content: space-around;
        min-height: 1060px;
        padding: 50px 0px 50px 0px;
    }

    .card-restaurant {
        overflow: hidden;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    .card-restaurant, #restaurant> h2 {
        width: 90%;
        margin: auto;
    }

    .card-text {
        background: var(--color-card);
        border-radius: 0px 0px 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .card-restaurant img {
        height: 144px;
        width: 100%;
        object-fit: cover;

    }

    /*--------- Footer-------*/
    footer {
        width: 100%;
        background-color: rgba(53,53,53,255);
        color: white;
    }

    footer ul li:first-child {
        font-family: 'Shrikhand', cursive;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        height: 158px;
        justify-content: space-between;
        padding: 20px;
    }

    footer ul li .fa-solid {
        margin-right: 10px;
    }

.about,
.services,
.assistance {
    width: 100%;
}

/*--------- NavBar Header -------*/

#fonctionnement {}

.phone,
.menu,
.store {}

}