// Delcration Variable //
$total: 9;

/*--------- Animation Coeur couleur degrader Acceuil  -------*/

.heart {
  position: relative;
  font-size: 1.5rem;
}

.heart::before {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.heart::after {
  position: absolute;
  left: 0;
  transition: 0.3s ease-in-out;
  content: "\f004";
  background-image: linear-gradient(#9356DC, #FF79DA) !important;
  font-weight: 600;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  cursor: pointer;
}

.heart:hover::before {
  opacity: 0;
}

.heart:hover::after {
  opacity: 1;
}

/*--------- Animation Menu Apparition Progressive Restaurant  -------*/


.card-body {
  opacity: 0;
  animation-name: cascade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-direction: alternate;

}

@for $i from 1 through $total {
  .card-menu:nth-child(#{$i}) {
    animation-delay: $i * 0.3s;
  }
}

@keyframes cascade {
  to {
    transform: translate(0, -15px);
    opacity: 1;
  }
}

/*--------- Animation Menu Animation Checking  -------*/

.card-main {
  display: flex;
  min-width: 350px;
  margin: 0px 10px 10px 0px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
  background: $color-card;
  overflow: hidden;

  &>.card-price {
    align-items: center;
  }

  &:hover>.box {
    width: 3em;
    .check>i {
      transform: rotate(360deg);
    }
  }
}

.card-menu {
  flex-grow: 1;
  width: 10em;
  cursor: pointer;
  padding: 5px;

  p,
  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.card-price {
  width: 2em;
}

.box {
  display: flex;
  width: 0;
  background-color: $tertiaire;
  transition: all 1s;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  .check {
    margin: auto;
    color: white;
    background-color: $tertiaire;

    i {
      transition: all 0.4s;
      transition-timing-function: ease-in-out;
    }
  }
}

/*--------- Animation Loading Accueil  -------*/

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.lds-dual-ring:after {
  content: " ";
  display: block;
  opacity: 1;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: $primary $secondary;
  animation: lds-dual-ring 3s linear;
  animation-fill-mode: forwards;

}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
    
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
