.heart {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
}
.heart::before {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.heart::after {
  position:absolute;
  left: 0;
  transition: 0.3s ease-in-out;
  content: "\f004";
  background-image: linear-gradient(#9356DC, #FF79DA)!important;
  font-weight: 600;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  cursor: pointer;
}

.heart:hover::before {
  opacity: 0;
}
.heart:hover::after {
  opacity: 1;
}