// Delcration Variable //
$total: 9;

/*--------- Animation Coeur couleur degrader Acceuil  -------*/

.heart {
  position: relative;
  font-size: 1.5rem;
}
.heart::before {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.heart::after {
  position:absolute;
  left: 0;
  transition: 0.3s ease-in-out;
  content: "\f004";
  background-image: linear-gradient(#9356DC, #FF79DA)!important;
  font-weight: 600;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  cursor: pointer;
}

.heart:hover::before {
  opacity: 0;
}
.heart:hover::after {
  opacity: 1;
}

/*--------- Animation Menu Apparition Progressive Restaurant  -------*/

.card-menu {
  cursor: pointer;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
  background: $color-card;
  margin: 10px;
  padding: 10px;
  animation: 3s show;
  opacity: 0;
  animation-name: cascade;
  animation-duration: 0.85s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-direction: alternate;
  p {
    text-overflow: ellipsis;
  }
}


@for $i from 1 through $total {
  .card-menu:nth-child(#{$i}) {
      animation-delay: $i * 0.2s;
  }
}

@keyframes cascade {
  to {
      transform: translate(0, -15px);
      opacity: 1;
  }
}


.card-menu::after {
  background-color: red;
  content: "\f058";
  color: $tertiaire;
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  opacity: 1;  
  top: 14px;
  right: -20px;
  transition: 0.5s;

}

.card-menu:hover {

    //padding-right: 50px;
    padding-left:8px;
}
.card-menu:hover::after {
  margin: -5px 15px;
  right: 0px;
  animation: rotate 0.3s linear;
  opacity: 1;
  right: 10px;
}

@keyframes rotate{
  to{
    transform: rotate(3.142rad);
  }

}
