.btn-purple {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    text-align: center;
    color: #ffff;
    border-radius: 30px;
    background: linear-gradient(2deg, rgba(236, 115, 218, 1) 0%, rgba(184, 98, 220, 1) 96%);
}

